sudo: false

dist: xenial

services: mysql

language: php

php:
    - 5.6.40
    - 7.4

env:
    - WP_VERSION=latest WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=1

before_script:
    - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
    - composer install --dev

script:
    - mkdir -p build/logs
    - php vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
    - php vendor/bin/coveralls -v

after_success:
    - coveralls
